@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #1A1D21;
  color: white;
}

.square{ 

width: 20px;
height: 20px;
border: green;
box-shadow: 0px 10px 15px -3px rgba(182, 240, 156, 0.16),
0px 4px 6px -4px rgba(182, 240, 156, 0.16);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}